<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Meus Treinos</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body class="has-navbar">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/sidebar-usuario :: sidebar"></div>

    <div class="main-content">

        <div class="card shadow border-0">

            <div class="card-body">

                <h2 class="fw-bold text-success mb-4">
                    🏋 Meus Treinos
                </h2>

                <div th:if="${#lists.isEmpty(treinos)}" class="alert alert-warning">
                    Você ainda não possui treinos cadastrados.
                </div>

                <div class="table-responsive">
                    <table th:if="${!#lists.isEmpty(treinos)}" class="table table-hover table-bordered align-middle">

                        <thead class="table-success">
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Duração</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="treino : ${treinos}">
                                <td th:text="${treino.nome}"></td>
                                <td th:text="${treino.descricao}"></td>
                                <td th:text="${treino.duracao + ' min'}"></td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>

        </div>

    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>