<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <h2>Cadastrar Usuário</h2>

    <form th:action="@{/usuarios/salvar}" th:object="${usuario}" method="post">

        <input type="hidden" th:field="*{id}">

        <div class="mb-3">
            <label>Nome</label>
            <input type="text"
                   class="form-control"
                   th:field="*{nome}">
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input type="email"
                   class="form-control"
                   th:field="*{email}">
        </div>

        <div class="mb-3">
            <label>Senha</label>
            <input type="password"
                   class="form-control"
                   th:field="*{senha}">
        </div>

        <div class="mb-3">
            <label>Peso (kg)</label>
            <input type="number"
                   step="0.1"
                   class="form-control"
                   th:field="*{peso}">
        </div>

        <div class="mb-3">
            <label>Altura (m)</label>
            <input type="number"
                   step="0.01"
                   class="form-control"
                   th:field="*{altura}">
        </div>

        <div class="mb-3">
            <label>Meta Calórica</label>
            <input type="number"
                   step="1"
                   class="form-control"
                   th:field="*{metaCalorica}">
        </div>

        <div class="mb-3">
            <label>Objetivo Nutricional</label>

            <select class="form-select"
                    th:field="*{objetivo}">

                <option value="">Selecione...</option>

                <option value="EMAGRECER">
                    Emagrecer
                </option>

                <option value="GANHAR_MASSA">
                    Ganhar Massa
                </option>

                <option value="MANTER_PESO">
                    Manter Peso
                </option>

            </select>
        </div>

        <button type="submit" class="btn btn-success">
            Salvar
        </button>

        <a href="/usuarios" class="btn btn-secondary">
            Voltar
        </a>

    </form>

</div>

</body>
</html>