<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Refeições</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>
<body>

<div class="container mt-4">

    <h2>Refeições Cadastradas</h2>

    <a href="/refeicoes/novo"
       class="btn btn-success mb-3">
        Nova Refeição
    </a>

    <table class="table table-striped">

        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Calorias</th>
            <th>Tipo</th>
            <th>Data</th>
            <th>Usuário</th>
            <th>Ações</th>
        </tr>
        </thead>

        <tbody>

        <tr th:each="refeicao : ${refeicoes}">

            <td th:text="${refeicao.id}"></td>
            <td th:text="${refeicao.nome}"></td>
            <td th:text="${refeicao.calorias}"></td>
            <td th:text="${refeicao.tipo}"></td>
            <td th:text="${refeicao.data}"></td>
            <td th:text="${refeicao.usuario.nome}"></td>

            <td>

                <a th:href="@{/refeicoes/editar/{id}(id=${refeicao.id})}"
                   class="btn btn-warning btn-sm">
                    Editar
                </a>

                <a th:href="@{/refeicoes/excluir/{id}(id=${refeicao.id})}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Deseja excluir esta refeição?')">
                    Excluir
                </a>

            </td>

        </tr>

        </tbody>

    </table>

</div>

</body>
</html>